

<div class="sl026challenge" ng-class="{'device': isDevice, 'hover-device': hoverDevice}" data-ng-controller="sl026ChallengeController" ng-init='model=getModel($index);setPageIndex(canvasArray[$index]);getPageIndex($index)'>
	<!--div ng-repeat="x in imagePreloadArrayInner" ng-hide="true">
		<img ng-src="{{imagePath+x}}" alt=""/>
	</div-->
	<script type="text/javascript">
	$(document).ready(function(){

		var ele = $(".sr-only")
		var position = ele.position();
		console.log(position.left)
		console.log(position.top)
		if(position.left > 0){
			setTimeout(function(){
			$("button,div").each(function( index ) {
						$(this).css('background-image','none');
						$(this).off("mouseleave");
						$(this).off("mouseenter");
						$(this).off("mousedown");
						$(this).off("mouseover");
						$(this).off("mouseout");
						//$(this).off("mouseout");
						//$(this).off();
						$(this).stop();
						$(this).finish();
				});
				//angular.element(".close-clicked").scope().showingclose = false;
				$(".close-clicked").hide();
				$(".finish-btn").hide();
				$(".next-btn").hide();
				$(".check-btn").hide();
			},500);

			console.log("for sr");
		}else{
			console.log("for nor");
		}

	})
	</script>

	<div>
		<audio  ng-hide='false' id="aud_player_{{$index}}" ng-repeat="x in playerArray">
			<source src="assets/audio/male/_0.mp3" type="audio/mpeg">
		</audio>
	</div>


	<div class="header-bar">
		<div pearson-logo></div>


		<button class="sound-btn dis-ass" ng-hide="currentPage=='help'" ng-click="!enalbeNarrationBut || effectClick();">
			{{effectDispText}}
			<span class="sr-only" ng-show="effectDispText == 'Sound: on'">Activate to turn off</span>
			<span class="sr-only" ng-show="effectDispText == 'Sound: off'">Activate to turn on</span>
		</button>
		<button class="voice-btn dis-ass" ng-hide="currentPage=='help'" ng-click="!enalbeNarrationBut || narrationClick();">{{narrationDispText}}
			<span class="sr-only" ng-show="narrationDispText == 'Voice: on'">Activate to turn off</span>
			<span class="sr-only" ng-show="narrationDispText == 'Voice: off'">Activate to turn on</span>
		</button>
		<button id="rootCloseBtn" class="close_button dis-ass" ng-click="showClosealert($event)">
			<span class="sr-only">Close It has a popup</span>
		</button>
		<div class="close-clicked" ng-show="showingclose" >
			<div class="overlay"></div>
			<div>
				<div class="close-box" id="closebox" ng-blur="parentexitBlur($event)" role="dialog" aria-describedby="dialogContent">
					<span id="dialogContent">Are you sure you want to leave the game?</span>
					<button class="no_btn" ng-mousedown="getMouseDown()" ng-click="hideClosealert($event)"><div>Keep playing</div></button>
					<button class="yes_btn" ng-blur="exitBlur($event)" ng-mousedown="getMouseDown()" ng-click="closePage()" ><div>Exit</div></button>
				</div>
			</div>
		</div>
	</div>
	<audio id="narration-audio" narration-audio style="position:absolute;z-index:100;">
		<source src="assets/audio/male/_0.mp3" type="audio/mpeg">
		</audio>
		<audio id="effect-audio" effect-audio>
			<source src="assets/audio/male/_0.mp3" type="audio/mpeg">
			</audio>


	<div class="homepage page" ng-show="currentPage=='home'">
		<h1>{{pageTitle}}</h1>
		<button dynamic-background="howBtnBackground" aria-label="How to play" class="how-btn help-play home" ng-click="helpClicked()" ng-mousedown="howDown=true" ng-mouseup="howDown=false" ng-mouseout="howDown=false" ng-class="{'down': howDown}">
			<div>How to play</div><span class="sr-only">click to go How to play page</span></button>
		<button dynamic-background="playBtnBackground" aria-label="Play" class="play-btn" ng-mousedown="getTabDown()" ng-click="playClicked()" my-play-enter>
			<div>Play</div><span class="sr-only">click to play the lesson</span>
		</button>
	</div>
	<div class="how-to-play page" ng-if="currentPage=='help'">
		<iframe  class="page dis-ass" style="margin:0px;background:transparent;" src="{{helpPath}}"></iframe>
		<button id="game-btn" style="visibility:hidden" ng-click="gameClick()" aria-label="Go to game" ng-mousedown="gameDown=true" ng-mouseup="gameDown=false" ng-mouseout="gameDown=false" ng-class="{'down': gameDown}">
			<div>Go to game</div><span class="sr-only">Go to Game</span>
		</button>
	</div>
	<div class="active-play page" ng-show="currentPage=='play'">
		<div class="make-11">

			<div class="audio-script" ng-class="{'vot-change': repeatsameAns}" dynamic-background="(repeatsameAns) ? audioContainerOrangeBackground : audioContainerBackground ">
				<button class="audio-btn" ng-disabled="!enableHowToPlay" aria-label="listen to instructions" tabindex="0" ng-click="narationClick(1)" dynamic-background="audioBtnBackground" ng-mousedown="audioDown=true" ng-mouseup="audioDown=false" ng-mouseout="audioDown=false" ng-class="{'down': audioDown}"><span class="sr-only">Instruction audio</span></button>
				<p class="audio-transcript"  my-enter="narationClick()" role="alert" ng-click="narationClick()">{{model.narrations[currentNarrationId].content}}</p>
			</div>
				<div ng-if="!showDemo" class="play_activity">
					<div ng-if="!hideAllShapes" class="select-container">
						<div class="square">
							<span class="sr-only">Square {{threeDshapes['square']['status']}}.</span>

							<img alt="{{threeDshapes['square']['altText']}}" tabindex="0" my-enter="selectShape('square')" ng-disabled="enableAll" ng-click="selectShape('square')" ng-src="{{inner + model.imagePath + 'square_' + threeDshapes['square']['status'] +'.png'}}">
						</div>
						<div class="rect">
							<span class="sr-only">Rect {{threeDshapes['square']['status']}}.</span>

							<img alt="{{threeDshapes['rect']['altText']}}" tabindex="0" my-enter="selectShape('rect')" ng-disabled="enableAll" ng-click="selectShape('rect')" ng-src="{{inner + model.imagePath + 'rect_' + threeDshapes['rect']['status'] +'.png'}}">
						</div>
						<div class="circle">
							<span class="sr-only">Circle {{threeDshapes['square']['status']}}.</span>

							<img alt="{{threeDshapes['circle']['altText']}}" tabindex="0" my-enter="selectShape('circle')" ng-disabled="enableAll" ng-click="selectShape('circle')" ng-src="{{inner + model.imagePath + 'circle_' + threeDshapes['circle']['status'] +'.png'}}">
						</div>
						<div class="cylinder">
							<span class="sr-only">Cylinder {{threeDshapes['square']['status']}}.</span>

							<img alt="{{threeDshapes['cylinder']['altText']}}" tabindex="0" my-enter="selectShape('cylinder')" ng-disabled="enableAll" ng-click="selectShape('cylinder')" ng-src="{{inner + model.imagePath + 'cylinder_' + threeDshapes['cylinder']['status'] +'.png'}}">
						</div>
						<div class="polygon">
							<span class="sr-only">Polygon {{threeDshapes['square']['status']}}.</span>

							<img alt="{{threeDshapes['polygon']['altText']}}" tabindex="0" my-enter="selectShape('polygon')" ng-disabled="enableAll" ng-click="selectShape('polygon')" ng-src="{{inner + model.imagePath + 'polygon_' + threeDshapes['polygon']['status'] +'.png'}}">
						</div>
						<div class="cone">
							<span class="sr-only">Cone {{threeDshapes['square']['status']}}.</span>

							<img alt="{{threeDshapes['cone']['altText']}}" tabindex="0" my-enter="selectShape('cone')" ng-disabled="enableAll" ng-click="selectShape('cone')" ng-src="{{inner + model.imagePath + 'cone_' + threeDshapes['cone']['status'] +'.png'}}">
						</div>
					</div>
					<div ng-if="hideAllShapes" class="acitvity-container">
						<div class="selected-container">

							<img class="selectedShape" ng-src="{{inner + model.imagePath + selectedShape + '_normal.png'}}">
						</div>
						<div droppable class="drop-container">
							<span class="sr-only"><h1>Box region to drag and drop the shape.</h1></span>

							<div ng-repeat="blueShape in blueShapes">
								<img drag-accessible alt="{{model.altText[blueShape]}}" ng-disabled="enableAll" draggable ng-mousedown="playEffectAudio();" drag-start="dragStart(arg)" drag-stop="dragStop(arg)" data-type="{{blueShape}}" enable-all="enableAll" source="blueDrop" class="draggable isDraggable" ng-class="[blueShape,{enableAll: noPointerEvents}]"  ng-src="{{inner + model.imagePath + blueShape + '.png'}}">
							</div>
							<div ng-repeat="greenShape in greenShapes">
								<img drag-accessible alt="{{model.altText[greenShape]}}" draggable ng-mousedown="playEffectAudio();" drag-start="dragStart(arg)" drag-stop="dragStop(arg)" data-type="{{greenShape}}" enable-all="enableAll" source="greenDrop" class="draggable isDraggable" ng-class="[greenShape,{noPointerEvents: !enableAll}]"  ng-src="{{inner + model.imagePath + greenShape + '.png'}}">
							</div>
						</div>
					</div>
					<div droppable class="drag-stations">
						<div class="blue-container">
							<span class="sr-only"><h2>Blue player region with 6 shapes.</h2></span>
							<div ng-repeat="blueShape in blueShapes">
								<img drag-accessible alt="{{model.altText[blueShape]}}" ng-disabled="enableAll" draggable ng-mousedown="playEffectAudio();" drag-start="dragStart(arg)" drag-stop="dragStop(arg)" data-type="{{blueShape}}" enable-all="enableAll" source="blueDrag" class="draggable isDraggable" ng-class="[blueShape,{noPointerEvents: !enableAll}]"  ng-src="{{inner + model.imagePath + blueShape + '.png'}}">
							</div>
						</div>
						<div droppable class="green-container">
							<span class="sr-only"><h2>Green player region with 6 shapes.</h2></span>

							<div ng-repeat="greenShape in greenShapes">
								<img drag-accessible alt="{{model.altText[greenShape]}}" ng-disabled="enableAll" draggable ng-mousedown="playEffectAudio();" drag-start="dragStart(arg)" drag-stop="dragStop(arg)" data-type="{{greenShape}}" enable-all="enableAll" source="greenDrag" class="draggable isDraggable" ng-class="[greenShape,{noPointerEvents: !enableAll}]"  ng-src="{{inner + model.imagePath + greenShape + '.png'}}">

							</div>
						</div>
					</div>
				</div>
				<div ng-if="showDemo" class="help-container demo_activity">
					<div class="help-view">
						<span class="sr-only"><h1>Animation to see how this shape makes a print.</h1></span>
						<img class="{{selectedShape}}" ng-show="!playAnimationBool" ng-src="{{inner + model.imagePath + 'help_movie_' + selectedShape + '.png'}}">
						<img class="{{selectedShape}}" ng-show="playAnimationBool" ng-src="{{gifImageUrl}}">
					</div>
					<button ng-click="playAnimation()" id="play" class="dis-ass" ng-mousedown="playDown=true" ng-mouseup="playDown=false" ng-mouseout="playDown=false" ng-class="{'down': playDown}" aria-label="Play animation" tabindex="0">
						<span class="sr-only">Play animation.</span>
					</button>
					<button ng-click="pauseAnimation()" id="pause" class="dis-ass" ng-mousedown="pauseDown=true" ng-mouseup="pauseDown=false" ng-mouseout="pauseDown=false" ng-class="{'down': pauseDown}" tabindex="0" aria-label="Pause animation">
						<span class="sr-only">Pause animation.</span>
					</button>
					<button ng-click="previousAnimation()" id="prev" class="dis-ass" ng-mousedown="prevDown=true" ng-mouseup="prevDown=false" ng-mouseout="prevDown=false" ng-class="{'down': prevDown}" tabindex="0" aria-label="Rewind animation.">
						<span class="sr-only">Rewind animation.</span>
					</button>
				</div>
			</div>
			<div class="sr-only" id="sr-text" aria-live="polite" aria-atomic="true"></div>
			 <div class="sr-only" id="update-text" aria-live="polite" aria-atomic="true"></div>

				<!-- <div ng-show="showNext" role="alert">
				<span class="sr-only" id="greenDropcontainer" ng-show="equalsPrevious==0 "> showing one of the addition facts</span>
				<span class="sr-only" id="greenDropcontainer" ng-show="chancesUsed==5"> No chances left. click Next</span>
				<span class="sr-only" id="greenDropcontainer" ng-show="{{dropobj1.length+dropobj2.length}} == makeoption"> you successfully found the all addition facts. click next.</span>
			</div> -->
			<!-- <p id="expirationWarning" role="alert"  class="hidden">{{dropobj1.length}}blue counters +{{dropobj2.length}}green counters  = {{dropobj1.length+dropobj2.length}}counters.</p> -->
			<button ng-disabled="!enableHowToPlay && !showNext" aria-label="How to play"  ng-mousedown="howDown=true" ng-mouseup="howDown=false" ng-mouseout="howDown=false" ng-class="{'down': howDown, 'enabled': enableHowToPlay, 'disabled': !enableHowToPlay}" dynamic-background=" howBtnBackground " class="help-play play-page" ng-click="helpClicked()"><div>How to play</div><span class="sr-only">click to go How to play page</span></button>
			<button class="check-btn" aria-label="Check" dynamic-background="checkBtnBackground"  	ng-click="checkAnswer()" ng-show="validateAnswer == true" ><div>Check</div><span class="sr-only">click to check the value you have applied</span></button>
			<button class="next-btn" aria-label="Next" ng-show="showNext" ng-click="nextClicked()" ng-mousedown="nextDown=true" ng-mouseup="nextDown=false" ng-mouseout="nextDown=false" ng-class="{'down': nextDown}"><div>Next</div><span class="sr-only">click to proceed to next level </span></button>
			<button class="finish-btn" aria-label="Finish" dynamic-background="finishBtnBackground" ng-show="finishbtn" ng-click="finsishClicked()"><div>Finish</div><span class="sr-only">click finish to leave the game </span></button>
		</div>

</div>
